<div id="ticketConfModal" role="dialog" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="message">Do you really want to move it?</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="no-move-btn" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" id="move-btn" class="btn btn-primary">Yes</button>
        </div>
      </div>
    </div>
</div>