<div id="ticketDetailModal" class="modal fixed-left fade shadow-sm" tabindex="-1" role="dialog" id="lgModal">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ticket-view">
                    <div class="ticket-header-container">
                        <div class="header">TICKET ID</div>
                        <button type="button" class="btn  btn-secondary mr-2" data-dismiss="modal" aria-label="Close">
                            Close
                        </button>
                    </div>
    
                    <div class="description-container">
                        <div class="desc-row">
                            <div class="row-label"><span class="label">title</span></div>
                            <div class="row-value">
                                <div class="title-value">Lorem ipsum dolor sit amet consectetur</div>
                            </div>
                        </div>
    
                        <div class="desc-row">
                            <div class="row-label"><span class="label">Description</span></div>
                            <div class="row-value">
                                <div class="value">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </div>
                            </div>
                        </div>
    
                        <div class="desc-row">
                            <div class="row-label"><span class="label">type</span></div>
                            <div class="row-value">
                                <div class="value">Activity</div>
                            </div>
                        </div>
                        
                        <div class="desc-row">
                            <div class="row-label"><span class="label">Severity</span></div>
                            <div class="row-value">
                                <div class="value">High</div>
                            </div>
                        </div>
                    
                        <div class="desc-row">
                            <div class="row-label"><span class="label">Status</span></div>
                            <div class="row-value">
                                <div class="value">In progress</div>
                            </div>
                        </div>
    
                        <div class="desc-row">
                            <div class="row-label"><span class="label">Engagement</span></div>
                            <div class="row-value">
                                <div class="value">Baseline Security Assessment</div>
                            </div>
                        </div>
    
                        <div class="desc-row">
                            <div class="row-label"><span class="label">External link</span></div>
                            <div class="row-value">
                                <div class="value">htp.link</div>
                            </div>
                        </div>
    
                        <div class="desc-row">
                            <div class="row-label"><span class="label">Tags</span></div>
                            <div class="row-value">
                                <div class="tag-container">
                                    <div class="ticket-tag"><div class="tag-text">Business</div></div>
                                </div>
                            </div>
                        </div>
    
                        <div class="desc-row">
                            <div class="row-label"><span class="label">Assignee</span></div>
                            <div class="row-value">
                                <span class="value mr-2">Ivan Petrov</span>
                                <span class="blue-link">Assign to me</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="attachment-container">
                        <div class="title-row">
                            <div class="label">
                                Attachments
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <i class="icon__16x16 icon-plus__16 mr-1" style="background: #2772E2"></i>
                                <span class="blue-link  mr-2">Attachment</span>
                            </div>
                        </div>
                        <div class="files">
                            <div class="file">
                                <a href="/kanban/static/img/Image.png" target="_blank">
                                    <img src="/kanban/static/img/Image.png" 
                                        class="attch-img"
                                        id="attachment-img"
                                        data-id="1"
                                    >
                                </a>
                                <div class="image-desc">
                                    <div class="value flex-wrap">File name plan of dev...</div>
                                    <div class="image-date">10.10.2023</div>
                                </div>
                            </div>
    
                            <div class="file">
                                
                                <div class="attch-img"
                                    id="attachment-img"
                                    data-id="2"
                                    style="background: url('/kanban/static/img/no_image.png');"
                                >
                                    <i class="icon__18x18 icon-delete file-delete"></i>
                                    <a href="/kanban/static/img/no_image.png" target="_blank"></a>
                                </div>
                                
                                <div class="image-desc">
                                    <div class="value flex-wrap">File name plan of dev...</div>
                                    <div class="image-date">10.10.2023</div>
                                </div>
                            </div>
    
    
                            <div class="file">
                                
                                <div class="attch-img"
                                    id="attachment-img"
                                    data-id="2"
                                    style="background: url('/kanban/static/img/no_image.png');"
                                >
                                    <i class="icon__18x18 icon-delete file-delete"></i>
                                    <a href="/kanban/static/img/no_image.png" target="_blank"></a>
                                </div>
                                
                                <div class="image-desc">
                                    <div class="value flex-wrap">File name plan of dev...</div>
                                    <div class="image-date">10.10.2023</div>
                                </div>
                            </div>
    
                            <div class="file">
                                
                                <div class="attch-img"
                                    id="attachment-img"
                                    data-id="2"
                                    style="background: url('/kanban/static/img/no_image.png');"
                                >
                                    <i class="icon__18x18 icon-delete file-delete"></i>
                                    <a href="/kanban/static/img/no_image.png" target="_blank"></a>
                                </div>
                                
                                <div class="image-desc">
                                    <div class="value flex-wrap">File name plan of dev...</div>
                                    <div class="image-date">10.10.2023</div>
                                </div>
                            </div>
    
                            <div class="file">
                                
                                <div class="attch-img"
                                    id="attachment-img"
                                    data-id="2"
                                    style="background: url('/kanban/static/img/no_image.png');"
                                >
                                    <i class="icon__18x18 icon-delete file-delete"></i>
                                    <a href="/kanban/static/img/no_image.png" target="_blank"></a>
                                </div>
                                
                                <div class="image-desc">
                                    <div class="value flex-wrap">File name plan of dev...</div>
                                    <div class="image-date">10.10.2023</div>
                                </div>
                            </div>
    
    
                            <div class="file">
                                
                                <div class="attch-img"
                                    id="attachment-img"
                                    data-id="2"
                                    style="background: url('/kanban/static/img/no_image.png');"
                                >
                                    <i class="icon__18x18 icon-delete file-delete"></i>
                                    <a href="/kanban/static/img/no_image.png" target="_blank"></a>
                                </div>
                                
                                <div class="image-desc">
                                    <div class="value flex-wrap">File name plan of dev...</div>
                                    <div class="image-date">10.10.2023</div>
                                </div>
                            </div>
                            <div class="file">
                                
                                <div class="attch-img"
                                    id="attachment-img"
                                    data-id="2"
                                    style="background: url('/kanban/static/img/no_image.png');"
                                >
                                    <i class="icon__18x18 icon-delete file-delete"></i>
                                    <a href="/kanban/static/img/no_image.png" target="_blank"></a>
                                </div>
                                
                                <div class="image-desc">
                                    <div class="value flex-wrap">File name plan of dev...</div>
                                    <div class="image-date">10.10.2023</div>
                                </div>
                            </div>
                            <div class="file">
                                
                                <div class="attch-img"
                                    id="attachment-img"
                                    data-id="2"
                                    style="background: url('/kanban/static/img/no_image.png');"
                                >
                                    <i class="icon__18x18 icon-delete file-delete"></i>
                                    <a href="/kanban/static/img/no_image.png" target="_blank"></a>
                                </div>
                                
                                <div class="image-desc">
                                    <div class="value flex-wrap">File name plan of dev...</div>
                                    <div class="image-date">10.10.2023</div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="comments-container">
                        <div class="title-row">
                            <div class="label">
                                Comments
                            </div>
                        </div>
                        <div class="comment">
                            <div class="avatar">
                                <div class="avatar-icon">
                                    <img src="/design-system/static/assets/ico/user.svg">
                                </div>
                                <div class="avatat-desc">
                                    <div class="user-name">Usmonbek Ravshanov</div>
                                    <div class="time">5 minutes ago</div>
                                </div>
                            </div>
                            <div class="value">
                                Some description of the action. Lorem ipsum dolor sit amet, consecetur adipsin elit
                            </div>
                        </div>

                        <div class="comment">
                            <div class="avatar">
                                <div class="avatar-icon">
                                    <img src="/design-system/static/assets/ico/user.svg">
                                </div>
                                <div class="avatat-desc">
                                    <div class="user-name">Usmonbek Ravshanov</div>
                                    <div class="time">5 minutes ago</div>
                                </div>
                            </div>
                            <div class="value">
                                Some description of the action. Lorem ipsum dolor sit amet, consecetur adipsin elit
                            </div>
                        </div>

                        <div class="d-flex justify-content-center align-items-center">
                            <i class="icon__16x16 icon-plus__16 mr-1" style="background: #2772E2"></i>
                            <span class="blue-link  mr-2">Comment</span>
                        </div>
                    </div>

                    <div class="activity-container">
                        <div class="title-row">
                            <div class="d-flex justify-content-center align-items-end">
                                <div class="label mr-2">
                                    Activity
                                </div>
                                <i class="icon__16x16 icon-arrow-down__16"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
