<div id="kanban_edit_modal" class="modal modal-small fixed-left fade shadow-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col">
                        <h2>Edit Kanban Board</h2>
                    </div>
                    <div class="col-xs">
                        <button type="button" class="btn  btn-secondary mr-2" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        <button type="button" id="edit" class="btn btn-basic">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form id="form-edit">
                    <div class="section">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="input-project">Board Name</label>
                                    <input type="text" class="form-control" name="name" id="edit-name">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="input-project">Columns</label>
                                    <input type="text" name="columns" class="form-control board-column" id="edit-columns">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="input-project">Query Url</label>
                                    <input type="url" name="tickets_url" class="form-control board-column" id="edit-url">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="input-project">State Update Url</label>
                                    <input type="url" name="state_update_url" class="form-control board-column" id="edit-update-url">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="input-project">Event List Url</label>
                                    <input type="url" name="event_list_url" class="form-control board-column" id="edit-event-list-url">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="input-project">Event Detail Url</label>
                                    <input type="url" name="event_detail_url" class="form-control board-column" id="edit-event-detail-url">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="input-project">Ticket id Field</label>
                                    <input type="url" name="ticket_id_field" class="form-control board-column" id="edit-id-field">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="input-project">Mapping Field</label>
                                    <input type="url" name="mapping_field" class="form-control board-column" id="edit-mapping-field">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="input-project">Ticket Name Field</label>
                                    <input type="url" name="ticket_name_field" class="form-control board-column" id="edit-ticket-name-field">
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>