<div id="kanban_event_modal" class="modal modal-base fixed-left fade shadow-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col">
                        <h2>Edit Column Events</h2>
                    </div>
                    <div class="col-xs">
                        <button type="button" class="btn  btn-secondary mr-2" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        <!-- <button type="button" id="save-events-btn" class="btn btn-basic">Save</button> -->
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <button type="button" id="add-event-btn" class="btn btn-40 btn-secondary"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <form id="form-event">
                </form>
            </div>
        </div>
    </div>
</div>