.ticket-view{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: #fff;
    border-radius: 4px;
}

.ticket-header-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px 20px 20px 24px;
    gap: 24px;
    flex: none;
    align-self: stretch;
    justify-content: space-between;
}

.header-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    align-items: center;
}

.ticket-header{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #32325D;
    padding-left: 0%;
}

.description-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    border-bottom: 1px solid #EAEDEF;
    align-self: stretch;
}

.description-container .desc-row{
    display: grid;
    grid-template-columns: 1fr 12fr;
    grid-column-gap: 16px;
    padding: 0px;
    align-self: stretch;
}

.row-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 0px;
    gap: 10px;
    width: 75px;
}

.label {
    font-size: 12px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ABB3B9;
}

.row-value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px 4px 12px;
    gap: 8px;
    word-break: break-word;
}

.d-visibility {
    visibility: visible;
    height: auto; 
}
  
.n-visibility {
    visibility: hidden;
    height: 0; 
}

[contenteditable='true'] {
    outline: 0px solid transparent;
    caret-color: black;
}

.wrappable:hover{
    border: 1px solid var(--gray300);
    border-radius: 4px;
}

.border-wrap {
    border: 1px solid var(--gray300);
    border-radius: 4px;
}

.row-actions{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

.row-value .title-value{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #32325D;
}

.row-value .value{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #32325D;
}

.blue-link{
    color: #2772E2;
}

.tags-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    flex-wrap: wrap;
    padding: 4px 8px 4px 12px;
}

.attachment-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 12px;
    border-bottom: 1px solid #EAEDEF;
    align-self: stretch;
}

.comments-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 16px;
    align-self: stretch;
}

.activity-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 8px;
    background: #fff;
    align-self: stretch;
}

.title-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 12px;
    align-self: stretch;
}

.files{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    gap: 16px;
    align-self: stretch;
}

.file{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;
    background: #fff;
    border: 1px solid #DBE2E8;
    border-radius: 4px;
    width: 155.67px; 
    max-height: 133px !important;
}

.attch-img{
    height: 85px;
    width: 154px;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: stretch;
    position: relative;
    cursor: pointer;
}

.custom-card-img{
    height: 85px;
    width: 154px;
}

.file-delete{
    display: none;
    position: absolute;
    right: 10%;
    top: 10%;
    background-color: #757F99;
}

.image-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 8px 8px;
    align-self: stretch;
    z-index: 1;
}

.image-date{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #525F7F;
}

.comment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    align-self: stretch;
}

.comment-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    align-self: stretch;
}

.comment-user{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.comment-actions{
    display: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.avatar-icon{
    width: 32px;
    height: 32px;
}

.avatar-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.avatar-desc .user-name{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #32325D;
}

.avatar-desc .time{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #757F99;
}

.comment-textarea{
    display: none;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    border: 1px solid #EAEDEF;
    border-radius: 4px;
}

.comment-btn-container{
    display: flex;
    flex-direction: row;
    padding: 18px;
    padding-top: 8px;
}

.edit-btn-container{
    display: none;
    flex-direction: row;
    padding: 18px;
    padding-top: 8px;
}

.comment-wrapper{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    border-radius: 4px;
}



