<engagement-container
  @register="register"
  instance_name="engagement_container"
  >
  
  <template #in_engagement_navbar="{master}">
    <engagement-card
        :engagement="master.selectedEngagement"
      >
    </engagement-card>
  </template>

  <template #content="{master}">
    <board-wrapper
        @register="register"
        instance_name="boards_wrapper"

        :engagement="master.selectedEngagement"
        :engagement_list="master.engagements"
    ></board-wrapper>
  </template>

</engagement-container>


{% include "kanban:kanban/part/conf_modal.html" %}
{% include "kanban:kanban/part/kanban_event_modal.html" %}
{% include "kanban:kanban/part/extend_board_modal.html" %}
{% include "kanban:kanban/part/kanban_event_modal.html" %}
